# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

# These files are text and should be normalized (Convert crlf => lf)
*.gitattributes text
*.sh text
er.remap text
README.md text
LICENSE text
CHANGELOG text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.0 binary
*.c32 binary
undionly.kpxe binary

# Ignore in package
.gitattributes export-ignore
.gitignore export-ignore
package.sh export-ignore
