/lost+found/

# private settings
/er/menu/quicklaunch-custom.menu
/ignore/

# plugins files
/er/[0-9]*/
/er/[a-z]*/
/er/shares/
/er/plugins/
/win/
ntdetect.com
/KIWI/
/image/

# publish file
erpxe-nightly.tar.gz


